nav {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    overflow: hidden;
    background-color: #333;
}
body {
    margin: 0px;
    background: url(fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a.button-reg {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(62, 61, 61);
    padding: 10px 24px;
    transition: 0.2s;
    /* border: 2px solid; */
    /* border-color: rgb(0, 0, 0); */
    border-radius: 10px;
    float: right;
    margin: 8px;
} 

a.button-reg:hover {
    background: rgb(210, 200, 199);
    color: black;
}

a.button-reg:active {
    background: linear-gradient(rgb(0, 0, 0), rgb(71, 71, 71) 20%, rgb(174, 174, 174) 40%, rgb(255, 255, 255));
}

.start-text {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
}

a.icons-work {
    display: inline-table;
    text-align: center;
    width: 300px;
    /* color: #fff; */
    text-decoration: none;
    user-select: none;
    /* background: rgb(62, 61, 61); */
    padding: 10px 40px;
    transition: 0.2s;
    /* border: 2px solid; */
    /* border-color: rgb(0, 0, 0); */
    border-radius: 10px;
    /* float: right; */
    margin: 8px;
}

a.icons-work:hover {
    background: rgb(210, 200, 199);
    color: black;
}

a.icons-work:active {
    background: linear-gradient(rgb(0, 0, 0), rgb(71, 71, 71) 20%, rgb(174, 174, 174) 40%, rgb(255, 255, 255));
}
